<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
</head>
<body class="container">
<h1 th:title="${title}"></h1>
    <form th:object="${person}" method="post">
        <div th:each="healthTrait : ${healthTraits}">

            <input type="checkbox" name="healthTraitId"
                   th:text="${healthTrait.name}"
                   th:value="${healthTrait.id}" />
        </div>
        <input type="submit" name="Submit" />
    </form>

<img  th:src="Lady-03.svg" usemap="#ladymap" width="331px" height="653px"/>
    <map th:name="ladymap">
    </map>

    <form>
        <div th:each="headHealthTrait : ${headHealthTraits}">
            <input type="checkbox"
                   name="headHealthTraitId"
                   th:text="${headHealthTrait.name}"
                   th:value="${headHealthTrait.id}" />
        </div>
    </form>

</body>
</html>