<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
	<style>
        #to-show {
            position:relative;
            display: none;
        }
        #to-hover:hover #to-show {
            display: block;
        }
        img {
            position:absolute;
            z-index: -1;
        }
        div {
            position:absolute;
        }
    </style>
</script>
</head>
<body class="container">

<!--TODO wtf is happening with the title-->
<h1 th:title="${title}"></h1>
    


<form th:object="${person}" method="post">
<img  th:src="Lady-03.svg" usemap="#ladymap" width="331px" height="653px"/>
<div id="to-hover">
	<map th:name="ladymap" >
        <area  th:shape="rect" coords="0, 299, 400, 0" href="head.htm" alt=""/>
        <div id="to-show" th:each="headHealthTrait : ${headHealthTraits}">
            <input type="checkbox" name="headHealthTraitId"
                   th:text="${headHealthTrait.name}"
                   th:value="${headHealthTrait.id}" />
        </div>
	</map>
</div>
</form>

    <div data-bind="with:trackingMessage">
    	<P data-bind="text: questionStatement"></P>
    	<div data-bind="foreach:options">
    		<a href="#" data-bind="text:$data"></a>
    	</div>
    </div>
    <button class="btn btn-outline-info" data-bind="click: $root.askAQuestion">Get a Question</button>

<script src="js/libs/knockout-3.4.2.js"></script>
<script src="js/libs/jquery-3.2.1.min.js"></script>
<script>
function AppViewModel(){
	var self = this;
	//Data
	self.trackingMessage = ko.observable();
	self.options = ['Cool Glasses', 'Meh', 'Cry Face', ];
	//behaviors
	self.askAQuestion = function() {
		$.getJSON('/Tracking-Question/getTrackingQuestion', {} , self.trackingMessage );
		$('[data-toggle="popover"]').popover();
	};
}

ko.applyBindings(new AppViewModel());
</script>
</body>
</html>